<% if flash['notice'] %>
<div class="Message">
<%= flash['notice'] %>
</div>
<% end %>

<% @newuser and if error_messages_for('newuser') != "" %>
<div class="Message"><%= error_messages_for 'newuser' %></div>
<% end %>
