<tr id="bogus_<%= bug_row.id %>" class="">
  <td><%= bug_row.id %></td>
  <td><%= bug_row.description %></td>
  <td>
    <%= link_to_remote "Test", {:url => {:action => "bogus_test", :id => bug_row.id}} %>
    <% if 123 == "bogus_ok" %>
      <br/>
      <%= link_to_remote "Resolve", {:url => {:action => "bogus_resolve", :id => bug_row.id}} %>
    <% end -%>
  </td>
</tr>