<% unless feed_row.nil? -%>
<tr id='row_<%= feed_row.id %>'>
  <td><%= feed_row.id %></td>
  <td><%= "<a href='#{feed_row.href}'>#{truncate(feed_row.title, 50)}</a>" %></td>
  <td><%= "<a href='#{feed_row.link}'>#{truncate(feed_row.link, 50)}</a>" %></td>
  <td>
    <%= link_to 'Edit', {:action => 'edit_feed', :id => feed_row.id} %><br/>
    <%= link_to_remote 'Delete', {:url => {:action => 'delete_feed', :id => feed_row.id}} %>
  </td>
</tr>
<% end -%>