<!-- principal -->
<div class="content">
  <div class="boxcenter">
    <h2>&iquest;Which blog do you want to appear on your Feevy?</h2>
    <p>Please, specify the url of the blog you want to appear on your Feevy.</p>

    <p>Web sites with an RSS feed are also fine.</p>

    <%= render :partial => 'add_blog', :locals => {:display => true} %>

  </div>
</div>
