<!-- principal -->
<div class="content">
  <div class="boxcenter">
    <h2>&iquest;Which blog you want to appear on your Feevy?</h2>
    <p>Please, specify the url of the blog you want to appear on you feevy.</p>

    <p>(other non-blog pages with a <a href="#">RSS feed</a> will also be fine)</p>

    <%= render :partial => "add_blog", :locals => {:style => "", :control => false} %>

  </div>
</div>
