<div class="content3">
  
  <h2>We're almost there!</h2>
  <p>Please, select the image you want appear on of the blog you display on your Feevy</p>
  
  <!-- caja redondeada negra -->
  <% @subscriptions.each do |subscription| %>
    <% @subscription = subscription %>
    <%= render :partial => 'avatar_selection', :locals => {:subscription => @subscription, :action => false } %>
  <% end %>
  
  <h2><%= link_to "done, let's go back to my feevy", :action => "avatar_selected" %></h2>
  
</div>
