development:
  adapter: mysql
  database: feevy
  host: localhost
  username: root
  password: 

test:
    adapter: sqlite3
    database: ":memory:"

production:
  adapter: mysql
  database: feevy
  host: localhost
  username: root
  password: 
