<!-- principal -->
	<div class="content">
		<div class="content6">
		<h2>please, sign up to get your feevy tag</h2>
	 	</div>
    <%= render :partial => 'info', :locals => {:user => @user, :action => "signup", :submit => 'Signup'} %>
	</div>
